/* <--- GLOBAL STYLES ---> */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  font-family: "Poppins", sans-serif;
}

/* <--- HEADER STYLES ---> */
header {
  width: 37%;
  height: 11vh;
  background: rgb(79, 194, 202);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header h1 {
  font-size: 2.5rem;
}

/* <--- MAIN STYLES ---> */
main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  min-height: 90vh;
  min-width: 100%;
  border: 1px solid black;
  margin: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.container-child {
  margin: 2rem 1rem;
}
.actions {
  min-width: 40vw;
  min-height: 90vh;
  background: purple;
  padding: 2rem;
}
.btn {
  width: 6rem;
  height: 2rem;
  background: rgb(69, 170, 115);
}
#input {
  width: 10rem;
  height: 2rem;
}

.display {
  min-width: 40vw;
  min-height: 90vh;
  background: yellowgreen;
  padding: 2rem;
}

/* <--- FOOTER STYLES ---> */
